* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background: #EC715F;
    color: #FAFAFA;
    height: 70px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    margin: 0 auto;
}

header .logo img {
    height: 70px;
}

header .nav-links {
    list-style: none;
    display: flex;
}

header .nav-links li {
    margin-left: 30px;
}

header .nav-links a {
    color: #FAFAFA;
    text-decoration: none;
    font-size: 16px;
}

.hero {
    background: url('img/mv.png') no-repeat center center/cover;
    color: #FAFAFA;
    text-align: center;
    height: 650px;
    position: relative;
}

.hero .container {
    padding-top: 200px;
    top: 200px;
    left: 50%;
}

.hero h1 {
    font-size: 64px;
    margin-bottom: 10px;
    color: #FAFAFA;
}

.hero p {
    font-size: 20px;
    color: #FAFAFA;
}

.underline {
    width: 70px;
    height: 3px;
    background-color: #EC715F;
    margin: 0 auto 30px auto;
}

.portfolio {
    background: #ECEFF1;
    padding: 90px 0;
    text-align: center;
}

.portfolio .container {
    width: 920px;
    margin: 0 auto;
}

.portfolio h2 {
    font-size: 32px;
    color: #000000;
    margin-bottom: 8px;
}

.portfolio p {
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
}

.portfolio .portfolio-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio .portfolio-image {
    width: 300px;
    height: 250px;
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
}

.portfolio .portfolio-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature {
    background: #fff;
    padding: 90px 0;
    text-align: center;
}

.feature .container {
    width: 980px;
    margin: 0 auto;
}

.feature h2 {
    font-size: 32px;
    color: #000000;
    margin-bottom: 8px;
}

.feature p {
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
}

.feature .feature-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature .feature-card {
    width: 320px;
    height: auto;
    font-size: 16px;
}

.feature .feature-card i {
    font-size: 60px;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
}

.feature .feature-card h3 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
}

.feature .feature-card p {
    font-size: 16px;
    color: #000000;
    line-height: auto;
    text-align: left;
}

.profile {
    background: #ECEFF1;
    padding: 90px 0;
    text-align: center;
}

.profile .container {
    width: 1024px;
    margin: 0 auto;
}

.profile h2 {
    font-size: 32px;
    color: #000000;
    margin-bottom: 8px;
}

.profile p {
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
}

.profile .profile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile .profile-image{
    width: 512px;
    text-align: center;
}

.profile .profile-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile .profile-info {
    width: 512px;
    text-align: left;
}

.profile .profile-info h3 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 15px;
}

.profile .profile-info p {
    font-size: 14px;
    color: #000000;
    margin-bottom: 15px;
}
.contact {
    padding: 90px 0;
    text-align: center;
}

.contact .container {
    width: 800px;
    margin: 0 auto;
}

.contact h2 {
    font-size: 32px;
    color: #000000;
    margin-bottom: 8px;
}

.contact .contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact .contact-infos {
    display: flex;
    justify-content: center;
    width: 400px;
}

.contact .contact-info {
    text-align: left;
}

.contact h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.contact .contact-info p {
    font-size: 16px;
    margin-bottom: 20px;
}

.contact-sns {
    width: 400px;
    text-align: left;
}

.contact-sns-icons {
    display: flex;
    gap: 20px;
}

.contact-sns a {
    font-size: 50px;
    color: #000000;
    text-decoration: none;
}



footer {
    background: #EC715F;
    color: #FAFAFA;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 16px;
    margin: 0;
}

